<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Course1">
	<select id="selectAll" resultType="com.ncjt.rg34.bean.Course">
    	select * from worklist
  	</select>
	<insert id="save" parameterType="com.ncjt.rg34.bean.Course">
		insert into worklist values(#{id},#{course},#{coursenum},#{teacherName})
	</insert>
	<delete id="delete" parameterType="com.ncjt.rg34.bean.Course">
		delete from worklist where id = #{id}
	</delete>
	<select id="selectById" resultType="com.ncjt.rg34.bean.Course">
		select * from worklist where id = #{id}
	</select>
</mapper>